# Replace with your Docker Host IP (will be appended to /etc/hosts)
# https://github.com/laradock/laradock/issues/435


DOCKER_HOST_IP=10.0.75.1
PHP_FPM_DOMAIN=php_fpm_example.com
PHP_FPM_DOMAIN2=php_fpm_example2.com
PHP_FPM_DOMAIN3=php_fpm_example3.com
PHP_FPM_DOMAIN4=php_fpm_example4.com
PHP_FPM_DOMAIN5=php_fpm_example5.com

SUPERVISOR_DOMAIN=supervisor_example.com
SUPERVISOR_DOMAIN2=supervisor_example2.com
SUPERVISOR_DOMAIN3=supervisor_example3.com
SUPERVISOR_DOMAIN4=supervisor_example4.com
SUPERVISOR_DOMAIN5=supervisor_example5.com


-------show docker image SIZE using docker images-------

lnmpdocker_nginx                       latest              8a0bcfaa3d82        26 hours ago        109.4 MB
lnmpdocker_php-supervisor              latest              46b6c174b5bf        26 hours ago        501.2 MB
lnmpdocker_php-fpm                     latest              4f8d95965902        2 days ago          485.9 MB
lnmpdocker_call-websocket              latest              446b4083bbfa        2 days ago          474.1 MB
docker.io/bravist/php-cli-debian-app   1.3                 ceb9aa241524        2 days ago          474.1 MB
docker.io/php                          7.1-fpm             402a94c35023        5 days ago          381.7 MB
docker.io/mariadb                      latest              ea0322bb4096        7 days ago          395.1 MB
docker.io/nginx                        latest              958a7ae9e569        8 days ago          109.4 MB
docker.io/redis                        3.0-alpine          bd87c973dd1a        2 weeks ago         12.64 MB
docker.io/tianon/true                  latest              1298b2036003        11 weeks ago        125 B